h1 {
    color: #FF00A9;
    -webkit-text-stroke: .006em rgb(0, 0, 0);
    filter: drop-shadow( 0em 0.1em 0.05em #00000033);
}

#container {
    display: flex;
    flex-direction: row;
}

#side-container {
    width: 30%;
    word-wrap: break-word;
}

#title-box {
    /* background-image: url("../../assets/img/projDetailBackground.svg");
    background-size:contain; */
    padding: 3em 3em;
    padding-bottom: 9em;
}

#content-box {
    padding: 3em 1em 0em 3em;
}

#image-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0em 0em;
}

.image-box {
    /* border: 0.5px solid #A8A8A8;
    border-radius: 0.2em;
    box-shadow: 0em 0em 1em #00000016; */
    height: 30em;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    height: 100%;
}