<!-- <div id="container">
    <div id="side-container">
        <div id="title-box">
            <a routerLink="/home">Go to home</a>
            <h1>{{this.project.title}}</h1>
        </div>
        <div id="content-box">
            <p>{{this.project.content}}</p>
        </div>
    </div>
    <div id="image-container">
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
        <div class="image-box">
            <img src="../../assets/img/project/VB1.png">
        </div>
    </div>
</div> -->
<div id="body-box">
    <h1>coming soon... :)</h1>
</div>