<!-- <div id="proj-box" [ngClass]="projOpacity"> -->
<div id="proj-box">
    <div id="img-box">
        <div id="img-box-top">
            <div id="img1"></div>
            <div id="img2"></div>
        </div>
        <div id="img-box-bottom">

        </div>
        <!-- <img src="../../assets/img/project/{{this.proj.images[0]}}"> -->
    </div>
    <div id="content-box">
        <div id="left-box">
            <h2>{{this.proj.title}}</h2>
            <p>{{this.proj.content}}</p>
        </div>
        <div id="line"></div>
        <div id="right-box">
            <div>
                <table>
                    <tr>
                        <th>When:</th>
                        <td><p>{{this.proj.date}}</p></td>
                    </tr>
                    <tr>
                        <th>Build with:</th>
                        <td><p>{{this.proj.builtWith}}</p></td>
                    </tr>
                </table>
            </div>
            <a id="github-box" href="{{this.proj.link}}" target="_blank" rel="noopener noreferrer">
                <img id="github-img" src="../../assets/img/github-logo.png">
                <p>Check it out on GitHub!</p>
            </a>
        </div>
    </div>
</div>
