/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #F7F7F7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 3.75em;
    line-height: .85em;
    letter-spacing: 0.03em;
    /* color: #FF00A9; */
    /* color: #3d3d3d; */
    color: #FF00A9;
    /* -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #FF00A9; */
}

p {
    font-size: 1.25em;
}

