
/* :root {
    --h1-color-1: #1e90ff;
    --h2-color-2: #03498f;
    --h3-color-3: #82b2e2;
    --h2-color: #cf3b3b;
} */

/* NAV */

nav {
    width: auto;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 30vh;
    z-index:10;
}

#nav-box svg {
    width: 1.5em;
}

/* #Path_125, #Union_10, #Subtraction_9, #Path_127, #Path_124{
} */

#nav-box {
    background-color: #ffffff;
    border: 0.01em solid #0000006d;
    /* border-radius: 0.2em; */
    width: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    height: 15em;
    transition: 0.3s;
}

#nav-box:hover {
    width: 10em;
    transition: 0.3s;
}

#nav-box:hover .nav-comp p {
    display: block;
    opacity: 1;
    transition: 0.3s;
}

#nav-box .nav-comp p {
    display: none;
    opacity: 0;
    margin-left: 1.5em;
    transition: 0.3s;
}

.nav-comp {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0.7em;
    height: 2em;
    transition: 0.3s;
    border-radius: 2px;
}

.nav-comp:hover {
    transition: 0.3s;
    cursor: pointer;
}

#nav-comp-home:hover #Path_125{
    fill: #ff00aa72;
}

#nav-comp-exp:hover p {
    color: #ff00a9;
}

.nav-comp svg {
    height: auto;
}

/* START BOX */

#start-box {
    /* background-color: aqua; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0em 10em;
}

#tmp {
    /* background-color: darkkhaki; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

#image {
    height: 17em;
    filter: drop-shadow( 0px 3px 5px rgba(0, 0, 0, 0.2));
}

#text-header {
    padding-top: 2em;
    margin-bottom: 1em;
}

#text-gap {
    width: 0.4em;
}

#text-header span {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-size: 3.5em;
    line-height: .8em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .006em rgb(0, 0, 0);
    /* -webkit-filter: drop-shadow(0em 0em 1em #00000016); */
    filter: drop-shadow( 0em 0.1em 0.05em #00000033);
    margin-bottom: 0.1em;

    position: relative;
    display: inline-block;

    animation: flip 1s forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes flip {
    0% {
        /* transform: rotateY(180deg); */
        /* background: rgb(186, 67, 86); */
        background-clip: text;
        /* bottom: 0px; */
    }
    /* 50% {
        bottom: 10px;
    } */
    100% {
        /* bottom: 0px; */
        /* background: #fff2a8; */
        /* background: #729bb1; */
        background: #FF00A9;
        background-clip: text;
    }
}

#text-header-descr {
    animation: fadeIn 1s forwards 2s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

#linkicons {
    animation: fadeIn 1s forwards 2s;
    opacity: 0;
}

#linkicons svg {
    width: 1.3em;
    height: auto;
    margin-right: 0.7em;
}

#linkedina:hover #Exclusion_1 {
    fill: #FF00A9;
    transition: 0.2s;
}

#githuba:hover #Subtraction_6 {
    fill: #FF00A9;
    transition: 0.2s;
}

#Exclusion_1, #Subtraction_6 {
    fill: black;
    transition: 0.2s;
}

/* GAP */

#gap-box {
    height: 10vh;
    display: flex;
    justify-content: center;
}

#arrow-area {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

#arrow-area:hover {
    cursor: pointer;
    color: #FF00A9;
    transition: 0.2s;
}

#arrow-area:hover .arrow {
    fill: #FF00A9;
    transition: 0.2s;
}

#arrow-area svg {
    width: 2.5em;
    height: 3em;
}

.arrow {
    fill: black;
    transition: 0.2s;
    animation: mover 1.5s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}

/* CONTAINER BODY */

#body-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-box {
    width: 60vw;
    max-width: 60em;
}

/* EXPERIENCE */

#experience-box, #developed-box, #contact-box{
    /* max-width: 75em; */
    margin-top: 4em;
    padding-top: 1em;
    margin-bottom: 10em;
    min-height: 90vh;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    /* color: #FF00A9; */
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #3d3d3d;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* DEVELOPED */

#dots {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#dots svg {
    height: 1.5em;
}

#dots svg:hover .arr-l {
    fill: #FF00A9;
    transition: 0.2s;
}

#dots svg:hover .arr-r {
    fill: #FF00A9;
    transition: 0.2s;
}

.arr-l, .arr-r {
    fill: black;
    transition: 0.2s;
}

/* CONTACT */

#contact-box a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

#contact-box a:hover {
    color: #FF00A9;
    transition: 0.3s;
    cursor: pointer;
}